@charset "UTF-8";
/*CONFIGURAÇÃO BASE DA VERSÃO PARA CELULAR*/

/*DECLARAÇÃO DA FONTE PARA USO*/

@font-face { /*VARIAVEL DA FONTE DO MENU*/
    font-family: 'Menu';
    src: url() format('Opentype');
}

@font-face { /*VARIAVEL DA FONTE DO TITULO*/
    font-family: 'Titulo';
    src: url(../meus-testes/fontes/soft.marshmallow.otf) format('Opentype');
}


@font-face { /*VARIAVEL DA FONTE DO CONTEUDO*/
    font-family: 'Conteudo';
    src: url(../meus-testes/fontes/tommy.soft.regular.otf) format('Opentype');
}



:root { /*DECLARAÇÃO DE VARIAVEIS PARA OS FONTES*/
    --fonte-menu: Fonte001, Verdana, sans-serif ;
    --font-titulo: Fonte002, Verdana, sans-serif ;
    --font-conteudo:;
}

/*FIM DA DECLARAÇÃO DA FONTE PARA USO*/


/*CONFIGURAÇÃO BASE DA VERSÃO PARA CELULAR*/

* {
    font-family: Arial, Helvetica, sans-serif; /*DEFINICAO DE TODAS AS FONTES DO SITE*/
    margin: 0px; /*RETIRANDO TODO O ESPAÇAMENTO DO SITE*/ 
    padding: 0px; /*RETIRANDO TODO O ESPAÇAMENTO DO SITE*/
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    background-image: linear-gradient(to right, black, rgba(255, 0, 0, 0.751),#0683FF); /*DEFINICAO DO FUNDO DO CABEÇALHO*/

}

html {
    height: 100vh;
}


/*------- INICIO DA CONFIGURAÇÃO DO CABEÇALHO -------*/
header {
    display: block;
    margin: auto; /*CENTRALIZAR*/
    width: 100vw; /*LARGURA PREENCHIDA ATÉ O CANTO*/
    background-image: linear-gradient(to right, black, red,#0683FF); /*DEFINICAO DO FUNDO DO CABEÇALHO*/
    

}

header img { /*CONFIGURAÇÃO DA IMAGEM DO TOPO*/
    display: block;
    margin: auto;
    width: 100vw; /*PREENCHEU DE CANTO A CANTO O MENU HAMBURGUER*/
    
    
}

/*CONFIGURAÇÃO PARA INCLUSAO DOS TOPOS DO SITE PARA NOVAS TELAS*/
/*REALIZADO NO ARQUIVO CSS PRINCIPAL*/

header img#imgcelular {
    display: block;
}

header img#imgtablet { 
    display: none;
}

header img#imgtelas {
    display: none;
}


/*------- FIM DA CONFIGURAÇÃO DO CABEÇALHO -------*/


/*------- INICIO DA CONFIGURAÇÃO DO MENU HAMBUGUINHO -------*/
span#burguer {
    background-image: linear-gradient(to right, black);
    color: white;
    display: block; /*PREENCHER TODO BACKGROUND DE UM CANTO A OUTRO DA TELA*/
    text-align: center; /*CENTRALIZAR O ICONE*/
    padding: 6px;
    border-bottom: 2px solid black;
    cursor: pointer; /*O CURSO IRÁ VIRAR UMA MÃOZINHA*/
}

span#burguer:hover {
    background-image: linear-gradient(to right, white,red,white); /*MUDAR A COR AO PASSAR O CURSO*/
    color: black; /*MUDAR A COR AO PASSAR O CURSO*/
}


/*------- INICIO DA CONFIGURAÇÃO DO MENU -------*/
menu {
    display: none; /*FICARÁ FIXO*/    
}

menu ul { /*CONFIGURAÇÃO DO MENU*/
    list-style-type: none; /*RETIRAR A BOLINHA DO MENU*/
    
    
}

menu a { /*CONFIGURAÇÃO DOS LINKS DENTRO DO MENU*/
    display: block;
    padding: 8px; /*ESPAÇAMENTO ENTRE OS MENUS*/
    text-decoration: none; /*RETIRAR O SUBLINHADO DO LINK*/
    text-align: center; /*ALINHAMENTO DO TEXTO DO MENU*/
    background-image: linear-gradient(to right, black, red);
    color: white; /*COR DO TEXTO*/
    font-weight: bold; /*NEGRITO*/
    font-size: 16px; /*TAMANHO DA FONTE*/
    border-top: 2px solid black; /*BORDAS DA DIVISÃO DOS MENUS*/
    transition-duration: .9s; /*TRANSICAO SUAVE DA MUDANÇA DE SELECAO DOS MENUS*/

}

menu a:hover { /*CONFIGURAÇÃO AO PASSAR O MOUSE NO MENU*/
    background-image: linear-gradient(to right, white, blue);
    color: black;
}
/*------- FIM DA CONFIGURAÇÃO DO MENU -------*/


/*------- INICIO DA CONFIGURAÇÃO DO CONTEUDO -------*/
main { /*CONFIGURAÇÃO DO CONTEUDO*/
    display: block;
    margin: auto;
    width: 80vw; /*ESPAÇAMENTO LATERAL DO CONTEUDO*/
    background-image: linear-gradient(to right, rgba(234, 234, 33, 0.688), white, rgb(191, 226, 238));/*DEFINICAO DA COR DO FUNDO DO CONTEUDO*/
    margin-top: 10px; /*ESPAÇAMENTO DO CONTEUDO ENTRE O MENU*/
    padding: 10px; /*DEIXADO O TEXTODO CONTEUDO SEPARADO DAS BORDAS */
    border-radius: 10px; /*ARREDONDAMENTO DAS BORDAAS*/

}

/*-------- CONFIGURAÇÃO DO TITULO DO CONTEUDO -------- */
article h2 { 
    font-family: 'Cuphead'; /*CHAMANDO A FONTE DECLARADA*/
    padding-bottom: 20px; /*ESPAÇAMENTO ABAIXO DO TIUTLO COM INICIO DO TEXTO*/
    background-image: linear-gradient(to right, yellow, white);
    font-family: 'Titulo';
    font-size: 1.8em;
    border-radius: 10px; /*ARREDONDADMENTO DO BACKGROUND*/
    box-shadow: 2px 3px black;
    padding: 10px;
}
/*-------- FIM DA CONFIGURAÇÃO DO TITULO DO CONTEUDO -------- */


/*-------- CONFIGURAÇÃO DA IMAGEM DO CONTEUDO -------- */
article img.img-pequena { /*CONFIGURANDO AS IMAGENS DO CONTEUDO*/
    display: block;
    margin: auto; /*CENTRALIZANDO A IMAGEM*/
    max-width: 75vw;
    margin-top: 20px;
    margin-bottom: 12px; /*ESPASSAMENTO DA IMAGEM ENTRE O INCIO DO TEXTO*/
    border: 3px solid black; /*BORDA DA IMAGEM*/
    border-radius: 2px;
}
/*-------- FIM DA CONFIGURAÇÃO DO TITULO DO CONTEUDO -------- */


article p { /*CONFIGURAÇÃO DO PARAGRAFO*/
    text-align: justify; /*O TEXTO IRA FICAR JUSTIFICADO*/
    margin-top: 30px;
    margin-bottom: 20px; /*ESPAÇAMENTO ABAIXO DE CADA PARAGRAFO*/
    text-indent: 20px; /*ESPAÇAMENTO DO INICIO DE CADA PARAGRAFO*/
    font-family: 'Conteudo'; /*CHAMANDO A FONTE PERSONALIZADA*/
    font-size: 20px; /*TAMANHO DA FONTE*/
}

h3#subtitulo { /*CONFIGURAÇÃO DO SUBTITULO H3*/
    text-align: left;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(to right, white, rgb(220, 220, 122));
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px black; /*SOMBREAMENTO DO BOX DO TITULO*/
}

p#pjogo {
    margin-top: 30px;
}

span#primeira-letra {
    font-size: 60px;
    font-weight: bold;
    background-color: yellowgreen;
    padding: 5px;
    
}

/*---- CONFIGURAÇÃO DO RODAPE ----*/
footer {
    background-image: linear-gradient(to right, black, red,blue);
    display: block;
    margin: auto;
    margin-top: 50px;
    border: 1px solid white;
    text-align: center;
    color: white;
    text-shadow: 2px 3px 1px black;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
}
/*---- FIM DA CONFIGURAÇÃO DO RODAPE ----*/




