@charset "UTF-8";

/*CONFIGURAÇÃO BASE DA VERSÃO PARA CELULAR*/

* {
    font-family: Arial, Helvetica, sans-serif; /*DEFINICAO DE TODAS AS FONTES DO SITE*/

    margin: 0px; /*RETIRANDO TODO O ESPAÇAMENTO DO SITE*/ 
    padding: 0px; /*RETIRANDO TODO O ESPAÇAMENTO DO SITE*/
}

body, html {
    width: 100vw;
    background-image: linear-gradient(to right, black, rgba(255, 0, 0, 0.751),#0683FF); /*DEFINICAO DO FUNDO DO CABEÇALHO*/

}


/*------- INICIO DA CONFIGURAÇÃO DO CABEÇALHO -------*/
header {
    display: block;
    margin: auto;
    width: 100vw;
    background-image: linear-gradient(to right, black, red,#0683FF); /*DEFINICAO DO FUNDO DO CABEÇALHO*/
    

}

header img { /*CONFIGURAÇÃO DA IMAGEM DO TOPO*/
    display: block;
    margin: auto;
    width: 100vw; /*PREENCHEU DE CANTO A CANTO O MENU HAMBU*/
    
    
}
/*------- FIM DA CONFIGURAÇÃO DO CABEÇALHO -------*/


/*------- INICIO DA CONFIGURAÇÃO DO MENU HAMBUGUINHO -------*/
span#burguer {
    background-image: linear-gradient(to right, black);
    color: white;
    display: block; /*PREENCHER TODO BACKGROUND DE UM CANTO A OUTRO DA TELA*/
    text-align: center; /*CENTRALIZAR O ICONE*/
    padding: 6px;
    border-bottom: 2px solid black;
    cursor: pointer; /*O CURSO IRÁ VIRAR UMA MÃOZINHA*/
}

span#burguer:hover {
    background-image: linear-gradient(to right, white,red,white); /*MUDAR A COR AO PASSAR O CURSO*/
    color: black; /*MUDAR A COR AO PASSAR O CURSO*/
}


/*------- INICIO DA CONFIGURAÇÃO DO MENU -------*/
menu {
    display: none; /*FICARÁ FIXO*/    
}

menu ul { /*CONFIGURAÇÃO DO MENU*/
    list-style-type: none; /*RETIRAR A BOLINHA DO MENU*/
    
}

menu a { /*CONFIGURAÇÃO DOS LINKS DENTRO DO MENU*/
    display: block;
    padding: 8px; /*ESPAÇAMENTO ENTRE OS MENUS*/
    text-decoration: none; /*RETIRAR O SUBLINHADO DO LINK*/
    text-align: center; /*ALINHAMENTO DO TEXTO DO MENU*/
    background-image: linear-gradient(to right, black, red);
    color: white; /*COR DO TEXTO*/
    font-weight: bold; /*NEGRITO*/
    border-top: 2px solid black /*BORDAS DA DIVISÃO DOS MENUS*/

}

menu a:hover { /*CONFIGURAÇÃO AO PASSAR O MOUSE NO MENU*/
    background-image: linear-gradient(to right, white, blue);
    color: black;
}
/*------- FIM DA CONFIGURAÇÃO DO MENU -------*/


/*------- INICIO DA CONFIGURAÇÃO DO CONTEUDO -------*/
main { /*CONFIGURAÇÃO DO CONTEUDO*/
    display: block;
    margin: auto;
    width: 80vw; /*ESPAÇAMENTO LATERAL DO CONTEUDO*/
    background-image: linear-gradient(to right, white, rgb(191, 226, 238));/*DEFINICAO DA COR DO FUNDO DO CONTEUDO*/
    margin-top: 10px; /*ESPAÇAMENTO DO CONTEUDO ENTRE O MENU*/
    padding: 10px; /*DEIXADO O TEXTODO CONTEUDO SEPARADO DAS BORDAS */
    border-radius: 10px; /*ARREDONDAMENTO DAS BORDAAS*/

}

article h2 {
    padding-bottom: 20px; /*ESPAÇAMENTO ABAIXO DO TIUTLO COM INICIO DO TEXTO*/
    background-image: linear-gradient(to right, yellow, white);
    border-radius: 10px;
    padding: 10px;
}

article img.img-pequena { /*CONFIGURANDO AS IMAGENS DO CONTEUDO*/
    display: block;
    margin: auto; /*CENTRALIZANDO A IMAGEM*/
    max-width: 50vw;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
    border-radius: 2px;
}

article p {
    text-align: justify; /*O TEXTO IRA FICAR JUSTIFICADO*/
    margin-bottom: 20px; /*ESPAÇAMENTO ABAIXO DE CADA PARAGRAFO*/
    text-indent: 20px; /*ESPAÇAMENTO DO INICIO DE CADA PARAGRAFO*/
    font-size: 20px;
}





