@charset "UTF-8";

/*ARQUIVOS CRIADO PARA CONFIGURAÇÃO DAS OUTRAS TELAS, TABLET, DESKTOP E TELAS GRANDES. 
FOI CRIADO UM TERCEIRO ARQUIVO CSS, O QUAL ESTÁ SENDO CHAMADO NO HTML.
*/


@media print { /*IMPRESSORA*/
    
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    header img#imgcelular {
        display: none;
    }
    
    header img#imgtablet { /*IMAGEM DO TOPO DO SITE SERA MOSTRADA PARA TABLET*/
        display: block;
    }
    
    header img#imgtelas {
        display: none;
    }

    article img.img-pequena { /*CONFIGURANDO AS IMAGENS DO CONTEUDO*/
        display: block;
        margin: auto; /*CENTRALIZANDO A IMAGEM*/
        max-width: 75vw;
        margin-top: 20px;
        margin-bottom: 12px; /*ESPASSAMENTO DA IMAGEM ENTRE O INCIO DO TEXTO*/
        border: 3px solid black; /*BORDA DA IMAGEM*/
        border-radius: 2px;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP*/
    header img#imgcelular {
        display: none;
    }
    
    header img#imgtablet { 
        display: none;
    }
    
    header img#imgtelas { /*IMAGEM DO TOPO DO SITE IRÁ MUDAR PARA DESKTOP*/
        display: block;
    }
    
}

@media screen and (min-width: 1200px) { /*GRANDES TELAS*/
    header img#imgcelular {
        display: none;
    }
    
    header img#imgtablet { 
        display: none;
    }
    
    header img#imgtelas { /*IMAGEM DO TOPO DO SITE IRÁ MUDAR PARA DESKTOP*/
        display: block;
    }
    
}