@charset "UTF-8";
/*CONFIGURAÇÃO PARA OUTRAS TELAS*/


/* TYICAL DEVICE BREAKPOINTS
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

/*CONFINGURAÇÃO PARA MENU AO CRESCER A TELA*/
@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: center;
    }

    menu ul li { /*CONFIGURAR O MENU APOS MUDANCA DE TELA*/
        display: inline-block; /*MENU FICARÁ UM AO LADO DO OUTRO*/
        width: 190px; /*ALARGAMENTO DOS MENUS NAS TELAS GRANDES*/
        margin-right: -5px; /*RETIRAR O ESPAÇAMENTO DOS MENUS NAS TELAS GRANDES*/
        border-right: 6px solid black; /*BORDAR DA PARTE DIREITA*/
        border-bottom: 6px solid black; /*BORDAR DA PARTE DE BAIXO*/
        
                
    }

    menu a {
        text-align: center;
        color: white;
        font-size: 15px;
        height: 30px;
                
    }

    main {
        width: 768px;
    }


}
